
    <head>
    <title>
        RathTech - categorias
    </title>
    </head>
    <body>
         <p aling = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p>  
       
            <p>
                <h1>
                    
                    Navegue pelas categorias:
                
                </h1>
                <h2>
                    <a asp-action="Entrada">
                    Smartphones de entrada
                </a>
                </h2>
                <h2>
                    <a asp-action="Intermediario">
                        Smartphones Intermediarios
                    </a>
                    
                </h2>
                <h2>
                    <a asp-action="Intavançado">
                    Smartphones Intermediarios avançados
                </a>
                </h2>
                <h2>
                    <a asp-action="Toplinha">
                    Smartphones Top de linha
                </a>
                </h2>
            </p>
        </div>
        
        <style>
           
            h1{
                font-style: italic;
            }
            h2{
                color:darkblue ;
            }
            body{
                background-color: lightblue;
            }
            img{
                width: 700px;
            }
            
    </style>
    </body>
