
<html>
    <head>
        <title>
            RathTech - compra
        </title>
        </head>
    <body>
         <p align = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p> 
        <form method="POST">
        <P>
            <h1>
            Para dar continuidade a sua compra, faça login:
        </h1>
            <h3>
                <p>
                    <label for="nome">CPF</label>
                    <input type="text" name="CPF" placeholder="Digite seu CPF">
            </p>
            </h3>
            <h3>
                <p>
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" placeholder="Digite sua senha:">
                </p>
            </h3>

            
            <p>
                <button type="submit" asp-action="Carrinho">Logar</button>
                 </p> 
        <h2>
            Não é cadastrado?
        </h2>
        <h3>
            <button type="submit" asp-action="Cadastrar">Cadastre-se</button>
                 </p> 
        </h3>

    </form>
    <style>
         body{
                background-color: lightblue;
            }
            </style>
    </body>

</html>