
<html>
    <head>
        <title>
            RathTech - Concluído
        </title>
        </head>
    <body>
        
         <p align = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p> 

        <h1>
            <P>
                Compra Concluída!
                </p>
                     <P>
                Muito Obrigado pela confiança!
                </p>
                <p>
                    Em breve você receberá um email com a confirmação da compra, junto com o tempo estimado de entrega!
                </p>
            
        </h1>
        <h2>
            <button type="submit"><a asp-action="Index">Voltar</a></button>
        </p> 
        </h2>
        <style>
            h1{
                font-style: italic;
                color: darkblue;
            }
             body{
                background-color: lightblue;
            }
            

        </style>
    </body>
</html>