
<html>
    <head>
        <title>
            RathTech - Smartphones de entrada
        </title>
        </head>
        <h2>
            <p align="center">
            Os Smartphones de entrada oferecem preços mais acessíveis e são destinados a pessoas que não tem muitas exigências com o aparelho
            <p align="center">
            Confira nossos aparelhos:
            </p>
        </h2>
        
        <body>
            <div>
                <p>
                <img src="https://www.logogenio.pt/download/preview/engine/6900897" >
            </p>
            
        </div>

        <style>
            img{
                width: 500px;
                text-align: left;
                align: center;
            }
            button{
                color: green;
            }
             body{
                background-color: lightblue;
            }
            
            
        </style>
        <form method = "POST">
            <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://a-static.mlcdn.com.br/618x463/smartphone-lg-k41s-32gb-titanio-4g-octa-core-3gb-ram-655-cam-quadrupla-selfie-8mp/magazineluiza/155583300/5b4ebb9b6b4678be361ad83ef22fbbc8.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">LG k41S 3gb RAM 32gb</h2>
    <p class="card-text"><h4>
                Processador: Helio P22 MediaTek
            </h4></p>
            <p class="card-text"><h4>
               Tela: IPS Lcd "6,55 polegadas"
                Resolução: HD 720p
            </h4></p>
            <p class="card-text"><h4>
                Câmeras: 13 Mp + 5 Mp + 2 Mp + 2 Mp
                Câmera frontal: 8Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4000mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$899,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>
    <div class="row d-flex justify-content-center">
     <div class="card" style="width: 25rem;" align="Center">
  <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/50004766/1189589897/smartphone-motorola-moto-g8-play-preto-onix-32gb-tela-max-vision-de-6-2-hd-camera-traseira-tripla-android-9-0-e-processador-octa-core-50004766.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Moto G8 Play 2gb Ram 32gb</h2>
    <p class="card-text"><h4>
                Processador: Helio P70 MediaTek
            </h4></p>
            <p class="card-text"><h4>
               Tela: IPS Lcd "6,2 polegadas"
                Resolução: HD 720p
            </h4></p>
            <p class="card-text"><h4>
                Câmeras: 13 Mp + 8 Mp + 2 Mp
                Câmera frontal: 8Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4000mAh
            </h4></p>
            <p class="card-text"><h4>
                Preço: R$849,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
    </div>
    </p>
    <div class="row d-flex justify-content-center">
    <div class="card" style="width: 25rem;" align="Center">
  <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/55007169/1331692051/smartphone-samsung-galaxy-a11-azul-64gb-camera-triplatela-infinita-de-6-4-leitor-de-digital-octa-core-3gb-ram-carregamento-rapido-e-android-10-55007169.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title"> Smartphone Samsung galaxy A11 3gb RAM 64gb</h2>
    <p class="card-text"><h4>
                Processador: SAMSUNG Exynos Octa 7904
            </h4></p>
            <p class="card-text"><h4>
               Tela: IPS Lcd "6,4 polegadas"
                Resolução: HD 720p
            </h4></p>
            <p class="card-text"><h4>
                Câmeras: 13 Mp + 5 Mp + 2 Mp
                Câmera frontal: 8Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4000mAh
            </h4></p>
            <p class="card-text"><h4>
                Preço: R$999,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
    </div>
    </p>
        
              


               
             
        </form>
        
        
        



        </body>

        
</html>