

<head>
    <meta charset="utf-8" />

    <title>Rathtech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="Index">RathTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" asp-action="Index">Home</a>
        <a class="nav-link" asp-action="Categorias">Smartphones</a>
        <a class="nav-link" asp-action="QuemSomos">Quem somos</a>
        <a class="nav-link" asp-action="Cadastrar">Cadastre-se</a>
        <a class="nav-link" asp-action="Login">Login</a>
      </div>
    </div>
  </div>
</nav>
</head>
<body>
     <p align = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p> 
  
    
      
        <style>
            body{
                background-color: lightblue;
            }
            img{
                width: 800px;
            }
            h2{
                font-style: italic;
            }

           
        
        </style>
        <p align = "center">
            <h2>
                Use a barra de navegação para acessar o conteúdo da nossa loja!
            </h2>

        </p>

</body>

