
<html>
    <head>
        <title>
            RathTech - Smartphones Intermediários avançados
        </title>
        </head>
        <h2>
            <p align="center">
            Os Smartphones Intermediarios são destinados a pessoas que querem ter uma experiência mais completa com o aparelho sem ter que gastar muito!
            <p align="center">
            Confira nossos aparelhos:
            </p>
        </h2>
    </p>
        <body>
            <div>
                <p>
                <img src="https://www.logogenio.pt/download/preview/engine/6900897">
            </p>
            
        </div>

        <style>
            img{
                width: 500px;
                text-align: left;
            }
            button{
                color: green;
            }
             body{
                background-color: lightblue;
            }
            
            
        </style>
        <form method = "POST">
        <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://novomundo.vtexassets.com/arquivos/ids/2150852-500-500" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Moto G8 Power 4gb RAM 64gb</h2>
    <p class="card-text"><h4>
                Processador: Qualcomm Snapdragon 665 
            </h4></p>
            <p class="card-text"><h4>
               Tela: IPS Lcd "6,4 polegadas"
                Resolução: FullHD 1080p
            </h4></p>
            <p class="card-text"><h4>
               Câmeras: 16 Mp + 2 Mp + 8 Mp + 8 Mp
                Câmera frontal: 16Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 5000mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$1299,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>
    <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/55000829/1238925806/smartphone-samsung-galaxy-a51-preto-128gb-tela-infinita-de-6-5-camera-traseira-quadrupla-leitor-digital-na-tela-android-e-processador-octa-core-55000829.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Samsung galaxy A51 4gb RAM 128gb</h2>
    <p class="card-text"><h4>
                Processador: SAMSUNG Exynos 9611 
            </h4></p>
            <p class="card-text"><h4>
               Tela: Super AMOLED "6,5 polegadas"
                Resolução: FullHD 1080p
            </h4></p>
            <p class="card-text"><h4>
               Câmeras: 48 Mp + 5 Mp + 12 Mp + 5 Mp
                Câmera frontal: 32Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4000mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$1499,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>
    <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://http2.mlstatic.com/D_NQ_NP_790612-MLA41813978713_052020-O.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Redmi Note 9s 4GB RAM 64gb</h2>
    <p class="card-text"><h4>
                 Processador: Qualcomm Snapdragon 720G
            </h4></p>
            <p class="card-text"><h4>
              Tela: IPS Lcd "6,67 polegadas"
                Resolução: FullHD 1080p
            </h4></p>
            <p class="card-text"><h4>
              Câmeras: 48 Mp + 8 Mp + 5 Mp + 2 Mp
                Câmera frontal: 16Mp
            </h4></p>
            <p class="card-text"><h4>
                Bateria: 5020mAh
            </h4></p>
            <p class="card-text"><h4>
                Preço: R$1459,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>

    
            
        
        
           
           
        </form>
        
        



        </body>

        
</html>