 
 <body>
 <p align = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p> 
    <p>
    <h1>
        Faça Login:
    </h1>
    </p>
    <h2>
 
 <p>
                    <label for="nome">Cpf</label>
                    <input type="text" name="CPF" placeholder="Digite seu CPF">
            </p>
            
            <h3>
                <p>
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" placeholder="Digite sua senha:">
                </p>
                </h2>
                <p>
                 <button type="submit" asp-action="Index">Logar</button>
                 </p>
                  
                <style>
         body{
                background-color: lightblue;
            }
            </style>
    
                </body>