
<html>
    <head>
        <title>
            RathTech - Quem Somos
        </title>
        </head>
    <body>
        <p align="center">
            <h1>
                Conheça mais sobre a nossa loja:
            </h1>
            <h2>
                A RathTech foi criada com a intenção de ajudar o consumidor a sempre fazer a melhor compra!
                <p>
                Estamos há 5 anos vendendo em nossa loja física!
                <p>
                Sempre com confiança e credibilidade!
                </p>
                </p>
            </h2>
        </p>
         <p align = "center">
        <img src="https://www.logogenio.pt/download/preview/engine/6900897">
    </p> 
        <style>
            h1{
                font-style: italic;
            }
            h2{
                color: darkblue;
                font-style:initial;

            }
             body{
                background-color: lightblue;
            }
        </style>
         <h3>
            <button type="submit"><a asp-action="Index">Voltar</a></button>
                 </p> 
        </h3>
    </body>
</html>