
<html>
    <head>
        <title>
            RathTech - Smartphones Top de Linha
        </title>
        </head>
        <h2>
            <p align="center">
            Os Smartphones Top de Linha são destinados pra quem quer ter a melhor configuração possível, com processamento e cãmeras excelentes! 
            <p align="center">
            Confira nossos aparelhos:
            </p>
        </h2>
    </p>
        <body>
            <div>
                <p>
                <img src="https://www.logogenio.pt/download/preview/engine/6900897">
            </p>
            
        </div>

        <style>
            img{
                width: 500px;
                text-align: left;
            }
            button{
                color: green;
                
            }
             body{
                background-color: lightblue;
            }
                
        </style>
        <form method = "POST">
<div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://www.gizmochina.com/wp-content/uploads/2020/02/Samsung-Galaxy-S20-Plus-500x500.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Samsung Galaxy S20 Plus 8gb RAM 128gb<h2>
    <p class="card-text"><h4>
                  Processador: SAMSUNG Exynos 990
            </h4></p>
            <p class="card-text"><h4>
                 Tela: Dynamic AMOLED "6,7 polegadas"
                Resolução: QuadHD 1440
            </h4></p>
            <p class="card-text"><h4>
               Câmeras: 12 Mp + 64 Mp + 12 Mp
                Câmera frontal: 10Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 5000mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$2999,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>
    <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://http2.mlstatic.com/xiaomi-mi-10-256gb-8gb-ram-5g-108mp-667-snap-865-4780mah-D_NQ_NP_741450-MLB42502699563_072020-O.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone Xiaomi Mi 10 Pro 8gb RAM 256gb<h2>
    <p class="card-text"><h4>
                   Processador: Qualcomm Snapdragon 865
            </h4></p>
            <p class="card-text"><h4>
                 Tela: Super AMOLED "6,67 polegadas"
                Resolução: FullHD 1080p
            </h4></p>
            <p class="card-text"><h4>
                Câmeras: 108 Mp + 20 Mp + 12 Mp + 8 Mp
                Câmera frontal: 20Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4500mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$3299,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>
    <div class="row d-flex justify-content-center">
            <div class="card" style="width: 25rem;" align="Center">
  <img src="https://cdn.vox-cdn.com/thumbor/xzWsb-nKvYm68ka4HaMch8IPW8k=/0x0:660x510/1400x933/filters:focal(285x152:389x256):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66615078/OnePlus_8_Pro_1585743369_0_12.0.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Smartphone OnePlus 8 8gb RAM 128gb<h2>
    <p class="card-text"><h4>
                   Processador: Qualcomm Snapdragon 865
            </h4></p>
            <p class="card-text"><h4>
                 Tela: Super AMOLED "6,55 polegadas"
                Resolução: QuadHD 1440p
            </h4></p>
            <p class="card-text"><h4>
                Câmeras: 48 Mp + 16 Mp + 2 Mp
                Câmera frontal: 16Mp
            </h4></p>
            <p class="card-text"><h4>
                 Bateria: 4300mAh
            </h4></p>
            <p class="card-text"><h4>
                 Preço: R$3799,90
            </h4></p>
    <a href="Compra" class="btn btn-primary">Comprar</a>
  </div>
</div>
</div>
    </p>

        </form>
        
    
        </body>

        
</html>